/* Error: Undefined variable.
 *     ,
 * 146 |   background: $color-lp2-btn-map;
 *     |               ^^^^^^^^^^^^^^^^^^
 *     '
 *   scss/base/_base.scss 146:15  @use
 *   scss/base/_index.scss 2:1    @use
 *   scss/style.scss 4:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 146 \2502    background: $color-lp2-btn-map;\a     \2502                ^^^^^^^^^^^^^^^^^^\a     \2575 \a   scss/base/_base.scss 146:15  @use\a   scss/base/_index.scss 2:1    @use\a   scss/style.scss 4:1          root stylesheet";
}
