@use "../global" as *;


// Header
.header {
  background: $color-white;
  padding: 20px 0;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  max-width: 223px;
  height: auto;
  width: 100%;
}

.header__actions {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  justify-content: flex-end;
  @media (max-width: 768px) {
    display: none;
  }
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  padding: 12px 10px;
  max-width: 221px;
  width: 100%;
  border-radius: 50px;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.header__btn:hover {
  text-decoration: none;
  opacity: 0.7;
}

.header__btn--demo {
  background: $color-secondary;
  color: $color-white;
  border: 2px solid $color-secondary;
  padding-left: 20px;
}


.header__btn--contact {
  background: $color-white;
  color: $color-text;
  border: 2px solid $color-primary;
}

.header__btn-icon {
  max-width: 31px;
}

.header__btn--demo .header__btn-icon {
  max-width: 71px;
  position: absolute;
  left: -18px;
  top: calc(50% - 3px);
  transform: translateY(-50%);
}

// Section
.section {
  padding: 79px 0;
}

.section--concerns {
  background: $color-white;
}

.section--solution {
  background: rgba($color-secondary, 0.1);
  position: relative;
}

.section--about {
  background: $color-white;
  padding: 140px 0;
}

.section--services {
  background: $color-white;
  padding: 90px 0 96px;
}

.section--value {
  background-image: url(./images/paragragh-bg-image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 0 96px;
}

.section--flow {
  background: $color-bg-light;
  padding: 130px 0 80px;
}

.section--faq {
  background: $color-white;
  padding: 172px 0 100px;
}

.section__title {
  font-size: rem(36);
  font-weight: $w-black;
  line-height: calc(61.2 / 36);
}
.section__title .highlight {
  color: $color-secondary;
}
.section__title--logo {
  display: inline-block;
  width: calc(249 / 36 * 1em);
}

.section__title--center {
  text-align: center;
}

.section__title--line {
  position: relative;
  padding-bottom: 0.4em;
}
.section__title--line {
  position: relative;
  padding-bottom: 0.4em;
}
.section__title--line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: rem(6);
  background-color: $color-primary;
}

.underline {
  text-decoration: underline;
  text-decoration-color: rgba(#FFCC00, 0.5);
  text-decoration-thickness: 40%;
  text-underline-offset: 4px;
}

// ボタンスタイル
.btn {
  display: inline-block;
  width: 100%;
  font-size: rem(16);
  font-weight: $bold;
  padding-top: rem(20);
  padding-bottom: rem(20);
  padding-left: rem(30);
  padding-right: rem(20);
  position: relative;
  border-radius: rem(50);
  border-radius: 50px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
  position: relative;
  text-align: center;
}
.btn.btn--demo {
  background-color: $color-secondary;
  color: $color-white;
}
.btn.btn--mail {
  background-color: $color-white;
  color: $color-text;
}
.btn-icon {
  position: absolute;
}
.btn--demo .btn-icon {
  max-width: rem(114);
  left: rem(-40);
  top: calc(50% - rem(9));
  transform: translateY(-50%);
}
.btn--mail .btn-icon {
  max-width: rem(43);
  left: rem(20);
  top: 50%;
  transform: translateY(-50%);
}

.btn-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rem(18);
  max-width: rem(11);
  display: flex;
  align-items: center;
}
.btn-arrow svg {
  width: 100%;
  height: auto;
}

// kv 
.section--kv {
  background-image: url(../images/kv-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.kv__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $padding-pc;
  @include mq(md) {
    padding: 0 $padding-sp;
  }
}
.kv__columns {
  display: flex;
  gap: 20px;
}
.kv__column.kv__column--text {
  width: 55%;
  align-self: center;
}
.kv__column.kv__column--image {
  align-self: center;
  width: 45%;
}
.kv__sub-copy {
  font-size: rem(24);
  line-height: calc(34 / 24);
  color: $color-white;
  font-weight: $bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: rem(14);

}
.kv__title {
  font-size: rem(42);
  line-height: calc(71 / 42);
  color: $color-white;
  font-weight: $w-black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: rem(48);
}
.kv__title .large {
  font-size: calc(48 / 42 * 1em);
}
.kv__title .highlight {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.kv__title .highlight::after {
  position: absolute;
  background: linear-gradient(-90deg, rgba(245, 124, 0, 0.71) 0%, rgba(255, 152, 0, 0.25) 100%);
  width: 100%;
  z-index: -1;
  left: 0;
  bottom: rem(2);
  height: rem(14);
  content: "";
}
.kv__logo {
  max-width: rem(545);
  margin-bottom: rem(60);
}
.kv__btncontents {
  display: flex;
  gap: rem(20);
}
.kv__btn {
  max-width: rem(386);
  width: 100%;
}

@include mq(md) {
  .kv__columns {
    flex-direction: column;
    gap: 20px;
  }
  .kv__column.kv__column--text,
  .kv__column.kv__column--image {
    width: 100%;
  }
  .kv__btncontents {
    flex-direction: column;
  }

  .kv__logo {
    margin-right:auto;
    margin-left:auto;
  }
  
}


// Concerns

.section--concerns {
  position: relative;
  z-index: 1;
}
.concerns__title {
  margin-bottom: rem(88);
  text-align: center;
}
.concerns__title-icon {
  margin-right:auto;
  margin-left:auto;
  max-width: rem(88);
}

.concerns__columns {
  display: flex;
  gap: rem(30);
  flex-wrap: wrap;
}
.concerns__column {
  flex-grow: 1;
  min-width: rem(320);
  max-width: rem(346);
}
.concern-card {
  background: $color-bg-light;
  border-top: 5px solid $color-border;
  border-radius: rem(15);
  min-height: rem(498);
  padding-top: rem(38);
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.concern-card__header {
  margin-bottom: rem(31);
}

.concern-card__title {
  text-align: center;
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(37 / 20);
  padding: 0 rem(10);
}

.concern-card__title .large {
  font-size: calc(28 / 20 * 1em);
}
.concern-card__body {
  position: relative;
  padding: rem(54) rem(16) rem(25);
}
.concern-card__icon {
  width: rem(72);
  position: absolute;
  left: rem(16);
  top: 0;
  transform: translateY(-50%);
}

.concern-card__icon-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
}

.concern-card__quote {
  font-size: rem(20);
  font-weight: $bold;
  color: $color-primary;
  text-align: center;
  margin-bottom: rem(32);
  line-height: calc(37.4 / 20);
}

.concern-card__description {
  font-size: rem(18);
  font-weight: $bold;
  color: $color-text;
  line-height: calc(37.4 / 18);
}

@include mq(md) {
  .concerns__columns {
    flex-direction: column;
    gap: rem(40);
    align-items: center;
  }
}

// Solutions
.section--solution {
  position: relative;
  padding-top: rem(192);
  background-color: rgba($color-secondary, 0.1);
}
.solution__bg-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
.solution__title {
  text-align: center;
  margin-bottom: rem(82);
}
.solution__title--text .dot {
  position: relative;
  display: inline-block;
}
.solution__title--text .dot::before {
  position: absolute;
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: $color-secondary;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
}

.solution__columns {
  display: flex;
  gap: rem(30);
  flex-wrap: wrap;
  justify-content: center;
}
.solution__column {
  flex-grow: 1;
  min-width: rem(320);
  max-width: rem(346);
  min-height: rem(520);
}
.solution-card {
  background: $color-white;
  border-top: rem(5) solid $color-primary;
  border-radius: rem(15);
  padding: rem(60) rem(20) rem(20);
  box-shadow: rem(2) rem(2) rem(20) 0px rgba(0, 0, 0, 0.25);
}

.solution-card__title {
  font-size: rem(28);
  font-weight: $bold;
  color: $color-black;
  line-height: calc(37.4 / 28);
  margin-bottom: rem(32);
  text-align: center;
}

.solution-card__title .highlight {
  color: $color-secondary;
  text-decoration: underline;
  text-decoration-color: rgba(#FFCC00, 0.5);
  text-decoration-thickness: 40%;
  text-underline-offset: rem(4);
}

.solution-card__icon {
  margin: 0 auto rem(40);
  max-width: rem(120);
  width: 100%;
  border-radius: 50%;
  box-shadow: rem(2) rem(2) rem(7) 0px rgba(0, 0, 0, 0.25);
}

.solution-card__description {
  font-size: rem(18);
  font-weight: $bold;
  color: $color-text;
  line-height: calc(37.4 / 18);
}

// main-cta
.main-cta {
  padding: rem(80) 0 rem(100);
  background-image: url(../images/cta-bg-image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-cta__head {
  text-align: center;
  margin-bottom: rem(58);
  font-size: rem(24);
  font-weight: $w-black;
  line-height: calc(48 / 40);
}
.main-cta__title {
  font-size: 1em;
}
.main-cta__title .highlight{
  font-size: calc(64 / 40 * 1em);
  color: $color-white;
  position: relative;
  text-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.main-cta__title .highlight::after{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: rem(14);
  background: linear-gradient(90deg, rgba(245, 124, 0, 0.71) 0%, rgba(255, 152, 0, 0.25) 100%);
  left: 0;
  bottom: rem(4);
  z-index: -1;
}
.main-cta__description {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(24);
  gap: rem(5);
  margin-bottom: rem(50);
}
.main-cta__description--icon {
  width: calc(35 / 24 * 1em);
}
.main-cta__description--text {
  color: $color-white;
  font-weight: $bold;
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.25);
}
.main-cta__columns {
  display: flex;
  gap: rem(60);
  justify-content: center;
  align-items: flex-end;
}
.main-cta__btn-contents {
  max-width: rem(547);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(100);
  justify-content: center;
}
.main-cta__movies {
  max-width: rem(515);
  width: 100%;
}
.main-cta__btn {
  position: relative;
  max-width: rem(547);
}
.main-cta__btn-hukidashi {
  display: inline-block;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: rem(356);
  width: 100%;
  background: $color-white;
  padding: rem(22) rem(20);
  border-radius: rem(40);
  box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #99A9B0;
}
.main-cta__btn-hukidashi::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: rem(16);
  height: rem(16);
  clip-path: polygon(0 0 , 100% 0 , 50% 100%);
  z-index: 0;
  background-color: #99A9B0;
}
.main-cta__btn-hukidashi::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: rem(16);
  height: rem(16);
  clip-path: polygon(0 0 , 100% 0 , 50% 100%);
  z-index: 1;
  background-color: $color-white;
  transform: translateX(-50%) translateY(-4px);
}
.main-cta__btn-hukidashi-text {
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1.2;
}
.main-cta__btn-hukidashi-text .orange {
  color: $color-secondary;
}
.main-cta__btn-hukidashi-text .green {
  color: $color-primary;
}

.main-cta__movie-copy {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(28.2 / 20);
  padding: 0 rem(20);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  margin-bottom: rem(22);
}
.main-cta__movie-copy::before,
.main-cta__movie-copy::after {
  content: "";
  top: 50%;
  width: 1.25em;
  height: rem(2);
  background-color: $color-black;
}
.main-cta__movie-copy::before {
  transform: rotate(45deg);
}
.main-cta__movie-copy::after {
  transform: rotate(-45deg);
}
.main-cta__movie video {
  width: 100%;
  display: block;
  border-radius: rem(30);
  border: rem(5) solid $color-primary;
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(0, 0, 0, 0.25);
}

@include mq(md) {
  .main-cta__columns {
    flex-direction: column;
    gap: rem(40);
    align-items: center;
  }
  .main-cta__btn-contents {
    max-width: rem(547);
    width: 100%;
  }
  .main-cta__movies {
    max-width: rem(515);
    width: 100%;
  }
}

// About
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  
  @media (max-width: 968px) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.about__content {
  max-width: 522px;
}

.about__title {
  font-size: 36px;
  font-weight: 900;
  color: $color-text;
  line-height: 1.7;
  margin-bottom: 61px;
  position: relative;
}

.about__logo {
  height: 43px;
  width: 249px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
}

.about__text {
  font-size: 20px;
  color: $color-text;
  line-height: 1.87;
}

.about__text p {
  margin-bottom: 16px;
}

.about__text strong {
  font-weight: 900;
}

.about__image img {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

// Flow
.flow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-top: 40px;
  position: relative;
  
  @media (max-width: 968px) {
    grid-template-columns: 1fr;
  }
}

.flow__line {
  position: absolute;
  top: 90px;
  left: 10%;
  right: 10%;
  height: 3px;
  background: linear-gradient(to right, $color-primary, $color-secondary);
  
  @media (max-width: 968px) {
    display: none;
  }
}

.flow-step {
  text-align: center;
  position: relative;
}

.flow-step__number {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 5px solid $color-primary;
  background: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
  box-shadow: 0px 5px 20px 0px rgba(139, 195, 74, 0.3);
  position: relative;
  z-index: 2;
}

.flow-step__label {
  font-family: $second-font-family;
  font-size: 20px;
  color: $color-primary;
  font-weight: 700;
  line-height: 1.7;
}

.flow-step__num {
  font-family: $second-font-family;
  font-size: 36px;
  color: $color-primary;
  font-weight: 800;
  line-height: 1.7;
}

.flow-step__content {
  background: $color-white;
  padding: 24px 16px;
  border-radius: 15px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flow-step__title {
  font-size: 24px;
  font-weight: 700;
  color: #F57C00;
  margin-bottom: 12px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.flow-step__description {
  font-size: 16px;
  font-weight: 350;
  color: $color-text;
  line-height: 1.49;
}

// FAQ
.faq {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  background: $color-bg-very-light;
  border-radius: 15px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.faq-item__question {
  padding: 24px 30px 25px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.faq-item__question:hover {
  background: rgba($color-secondary, 0.05);
}

.faq-item__q {
  font-size: 24px;
  font-weight: 700;
  color: #F57C00;
  letter-spacing: 12px;
  flex-shrink: 0;
}

.faq-item__text {
  font-size: 17px;
  font-weight: 700;
  color: $color-text;
  line-height: 1.7;
  flex: 1;
}

.faq-item__toggle {
  font-size: 32px;
  font-weight: 700;
  color: $color-white;
  width: 25px;
  height: 25px;
  background: $color-secondary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
}

// Footer
.footer {
  background: $color-primary-dark;
  padding: 40px 0 20px;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.footer__logo img {
  height: 94px;
  width: 470px;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.footer__info {
  text-align: center;
}

.footer__address {
  font-size: 16px;
  font-weight: 350;
  color: $color-white;
  opacity: 0.8;
  line-height: 1.49;
  margin-bottom: 8px;
}

.footer__copyright {
  font-size: 13px;
  font-weight: 350;
  color: $color-white;
  opacity: 0.6;
  line-height: 1.7;
  margin: 0;
}