@use "sass:math";

// ブレイクポイント
$breakpoints: (
  md: 800,
  lg: 959,
);

// メディアクエリー
$mediaquerys: (
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

// 単位を除去
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }
  @return $number;
}

// vw換算
@function vw($window_width, $font_size) {
  @return math.div($font_size, $window_width) * 100vw;
}

// フォントファミリー, "", 
$base-font-family:   "Noto Sans JP", sans-serif;
$second-font-family: "Zen Maru Gothic", sans-serif;

// フォントウェイト
$w-black : 900;
$bold : 700;
$medium : 500;
$normal : 400;
$light : 300;

// カラーパレット
$color-black: #222;
$color-white: #ffffff;
// プライマリーブルー（テーマカラー）
$color-theme: #008F54;
// アクセントレッド
$color-brown: #53280D;
// 背景黄色
$color-yellow: #FFF07D;
// 橙色
$color-orange: #F94204;
// 背景緑
$color-green-bg: #F3F3EA;

// レイアウト幅
$inner: 760px;
$maxwidth: 760;

// パディング設定
$padding-pc: 20px;
$padding-sp: 1.25rem;

// ————————————————————————
// グラデーション定義