@use "../global" as *;

html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: calc(45 / 28);
  color: $color-black;
  font-family: $base-font-family;
  @media screen and (max-width:800px) {
    font-size: calc(16 / 760 * 100vw);
    
  }
}

* {
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

main {
  position: relative;
  z-index: 1;
}

// コンテナ
.container {
  width: 100%;
  max-width: calc($inner + ($padding-pc * 2));
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @include mq(md) {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}


// ユーティリティクラス
.only-sp {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.only-pc {
  @include mq(md) {
    display: none;
  }
}
